{% extends 'base.html.twig' %}

{% block title %}Hello LivreController!{% endblock %}

{% block body %}

    {% for livre in livres %}
        <div>
            <h3>Titre : {{livre.Titre}} | id : {{livre.id}}</h3>
            <p>genreId : {{livre.genreId}} | auteurId : {{livre.auteurId}}</p>
            <p>description : {{livre.description}}</p>
            <br>
        </div>
    {% endfor %}

{% endblock %}
