{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

{% for user in users %}
    <div>
        <h3>{{user.name}} | id : {{user.id}} | role : {{user.role}}</h3>
        <p>email : {{user.email}}</p>
        <p>password hash : {{user.passwordHash}}</p>
        <p>description : {{user.description}}</p>
        <br>
    </div>
{% endfor %}

<a href="user/SignUp">Add a user</a>

{% endblock %}
